<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>investrend_app.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<false/>
			<key>buildNumber</key>
			<string>70</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>17D5423907BFF7E69FD30289FEADF0B3BDF60CAF</string>
				<key>dateExpires</key>
				<string>04/06/22</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>70</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>17D5423907BFF7E69FD30289FEADF0B3BDF60CAF</string>
						<key>dateExpires</key>
						<string>04/06/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JWW4VFVQAS</string>
						<key>name</key>
						<string>PT Investrend Infotama Indonesia</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>70</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>17D5423907BFF7E69FD30289FEADF0B3BDF60CAF</string>
						<key>dateExpires</key>
						<string>04/06/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JWW4VFVQAS</string>
						<key>name</key>
						<string>PT Investrend Infotama Indonesia</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>70</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>17D5423907BFF7E69FD30289FEADF0B3BDF60CAF</string>
						<key>dateExpires</key>
						<string>04/06/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>JWW4VFVQAS.com.iii.afs.investrend.mobile.ImageNotification</string>
						<key>beta-reports-active</key>
						<true/>
						<key>com.apple.developer.team-identifier</key>
						<string>JWW4VFVQAS</string>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>ImageNotification.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>a46fcfe5-a1ce-4b5c-bc29-5886b72aa201</string>
						<key>dateExpires</key>
						<string>21/10/22</string>
						<key>name</key>
						<string>iOS Team Store Provisioning Profile: com.iii.afs.investrend.mobile.ImageNotification</string>
					</dict>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JWW4VFVQAS</string>
						<key>name</key>
						<string>PT Investrend Infotama Indonesia</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>JWW4VFVQAS.com.iii.afs.investrend.mobile</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>JWW4VFVQAS</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>4621dd51-d8eb-4cd0-aafa-1ba33da9a603</string>
				<key>dateExpires</key>
				<string>04/06/22</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.iii.afs.investrend.mobile</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>JWW4VFVQAS</string>
				<key>name</key>
				<string>PT Investrend Infotama Indonesia</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
